<p id="notice"><%= notice %></p>

<p>
  <b>Questionnumber:</b>
  <%= @westminster_catechism_qand_a.questionnumber %>
</p>

<p>
  <b>Question:</b>
  <%= @westminster_catechism_qand_a.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @westminster_catechism_qand_a.answer %>
</p>


<%= link_to 'Edit', edit_westminster_catechism_qand_a_path(@westminster_catechism_qand_a) %> |
<%= link_to 'Back', westminster_catechism_qand_as_path %>
