<h1>Prayer Pages Home</h1>

<%= todaysVerse.html_safe %>

<%= link_to "Daily Reading", "http://markmcfadden.net/prayerweb/DailyReading/12.html" %> | 
<%= link_to "Daily Prayer", "http://markmcfadden.net/prayerweb/DailyPrayerRequests.aspx" %>
<br/>

<table>
	<% @monthlyMemoryVerses.each do |verse| %>
   <tr class="<%= cycle("odd", "even") -%>">
	 <td><%= getESVPassage(verse).html_safe %></td>
   </tr>
 <% end %>
 </table>

