<h1><%= @title %></h1>

<%= todaysVerse.html_safe %>

<%= link_to "Daily Reading", monthReadingSchedule, :target => "_blank" %> | 
<%= link_to "Daily Prayer", "/prayer_pages/today", :target => "_blank" %>
<br/><br/>

<table>
   <tr>
		 <td class="catechism"><span id="label">Today's Westminster Catechism:</span> <%= @westminster_catechism_qand_a.questionnumber %><br/>
			 <%= @westminster_catechism_qand_a.question %><br/>
			 <%= @westminster_catechism_qand_a.answer %>
		 </td>
	</tr>
</table> 
<br/>
<table>
	<% @jmverses.each do |verse| %>
		<tr class="<%= cycle("odd", "even") -%>">
			<td>&nbsp;
			<table>
				<tr>
					<td class="jm_verse_ref"><%= verse.reference %></td>
				</tr>
				<tr>
					<td class="jm_verse_text"><%= verse.text %></td>
				</tr>
			</table>
			&nbsp;
			</td>
		</tr>
	<% end %>
</table> 
<!--
<br/>
<table>
	<% @monthlyMemoryVerses.each do |verse| %>
   <tr class="<%= cycle("odd", "even") -%>">
	 <td><%= getESVPassage(verse).html_safe %></td>
   </tr>
 <% end %>
</table> 
-->

