<h1>Prayer Today</h1>
<table class="today">
  <tr>
		<th class="today">Category</th>
		<th class="today">Content</th>
	</tr>

<% @todaysRequests.each do |request| %>
	<tr>
		<td class="today" id="category"><%= request.category_name %></td>
		<td class="today" id="prayerContent"><%= request.content %></td>
  </tr>
<% end %>
</table>

<!-- drop down of all requests -->
<br/><br/>
<%= collection_select(:category, :id, @allPrayerCategories, :id, :name, :prompt => true) %>
<br/><br/>

<script>
$('#category_id').change( function() {
	alert("Category Value: " + $('#category_id').val());
});
</script

<%= getESVPassage("Psalm " + @thePsalmChapter.to_s).html_safe %>
<!-- **** Remove after testing complete **** -->
<hr/>
<br/>
*** Will need to change the variables to instance vars in the prayer_pages_controller.rb in the private getTodaysRequests and getTodaysPsalm methods to see the values below ***
<br/>
Request Count: <%= @requestsCount %>
<br/>
Day Number: <%= @dayNumber %>
<br/>
Categories per day: <%= @categoriesPerDay %>
<br/>
Category start: <%= @categoryStart %> : 
Category end: <%= @categoryEnd %>
<br/>
Month Number: <%= @monthDayNumber %>
<br/>
First Psalm Day Chapter: <%= @daysFirstChapterNumber %>
<br/>
Last Psalm Chapter: <%= @daysLastChapterNumber %>
<br/>
The Random Psalm Chapter: <%= @thePsalmChapter %>
<br/>
<!-- **** End after testing complete **** -->


