<h1><%= @title %></h1>
<table class="today">
  <tr>
		<th class="today">Category</th>
		<th class="today">Content</th>
	</tr>

<% @todaysRequests.each do |request| %>
	<tr>
		<td class="today" id="category"><%= request.category_name %></td>
		<td class="today" id="prayerContent"><%= request.content %></td>
  </tr>
<% end %>
</table>
<br/>
<div class="prayerTimer">
	Prayer Time Remaining: <span id="time">0:00</span>
	<input type="button" id="resetButton" value="Restart"/>
</div> 

<!-- drop down of all requests -->
<br/>
<%= collection_select(:category, :id, @allPrayerCategories, :id, :name, :prompt => true) %>
<br/><br/>

<div id="displaySelection"></div>

<%= getESVPassage("Psalm " + @thePsalmChapter.to_s).html_safe %>

