<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
	<div class="field">
		<%= f.label :person_id %><br />
		<%= collection_select(:request, :person_id, Person.all, :id, :name, :prompt => true) %>
	</div>
	<div class="field">
		<%= f.label :category_id %><br />
		<%= collection_select(:request, :category_id, Category.all, :id, :name, :prompt => true) %>
	</div>
	<br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
